.navDropdown {
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .navDropdown:hover {
    background-color: #007bff;
    color: white;
  }
  
  .dropdown-divider {
    margin: 5px 0;
  }
  
  
  
  .dropdown-menu {
    border: 1px solid #ced4da;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
  }